<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009898679414-h1up9etms82plmjvl7nrhqfju9eotphb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009898679414-h1up9etms82plmjvl7nrhqfju9eotphb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1009898679414-hb18n2kibviv7s9hm4rq101c00lv1etf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDu5HegyKuIT6xqLDpg-mw2ywzMq9tYBs0</string>
	<key>GCM_SENDER_ID</key>
	<string>1009898679414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innovarco.dlcstore</string>
	<key>PROJECT_ID</key>
	<string>dlconlinestore</string>
	<key>STORAGE_BUCKET</key>
	<string>dlconlinestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009898679414:ios:783658f6429cb72d674357</string>
	<key>DATABASE_URL</key>
	<string>https://dlconlinestore.firebaseio.com</string>
</dict>
</plist>